<!DOCTYPE html>
<html>
<head>
	<title>SatoDiary</title>
</head>
<body>
	<header></header>
<div class="top-wrapper">
	<h1>SatoDiaryへようこそ！</h1>
	<p>このページSatoが作成した練習用ページです</p>





</div>





<h1>佐藤</h1>
<h2>aaaa</h2>
<p>bbbb</p>

<div class="hogehoge">テストページ</div>

<div class="hoga">

	<img class="picture" src="assets/test.jpg">
</div>
</body>
</html>
