<!DOCTYPE html>
<html>
<head>
	<title>SatoDiary</title>
</head>
<body>
	<header>
		<div class="header-logo">SatoDiary</div>
		<div class="header-list">
			<ul>
				<li>About</li>
				<li>Works</li>
				<li>Contact</li>
			</ul>
		</div>
	</header>
<div class="top-wrapper">
	<h1>Hello, World</h1>
	
	





</div>





<h1>佐藤</h1>
<h2>aaaa</h2>
<p>bbbb</p>

<%=link_to "掲示板はこちら!!" ,articles_new_path %>

<div class="hogehoge">テストページ</div>

<div class="hoga">

	<img class="picture" src="assets/test.jpg">
</div>
</body>
</html>
