@import "bootstrap-sprockets";
@import "bootstrap";


body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}

ul {
	list-style: none;
}

header {
	background-color: #26d0c9;
	height: 90px;
	color: #fff;
}

.header-logo {
	float: left;
	font-size: 30px;
	padding: 20px 40px;
}

.header-list {
	float: right;
}

.header-list li {
	float: right;
	padding: 33px 20px;
}

.top-wrapper h1 {
	text-align: center;
	font-size: 60px;
}

.header-list h1 {
	float: right;
	font-size: 20px;
}

h2 {
	background-color: blue;
}

.picture {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 10px 10px #000000;

}


.hoga {
	text-align: center;
}/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
